input{
    width: 50px;
}
button{
    margin-top: 1rem;
}
#numberBut{
    background-color: #38393a;
    color:white;
}
#ranbomBut{
    background-color: lightpink;
}
#plusBut{
    background-color: darkgrey;
    color: white;
}
.NewDiv{
    margin: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
    position:relative;
}